@import 'variables';

.time-select {
  display: flex;

  > div {
    width: 50%;
    max-width: 50%;

    &:first-child {
      margin-right: $spacer-s;
    }

    &:last-child {
      margin-left: $spacer-s;
    }
  }
}
