$spacer: 1rem;
$spacer-s: $spacer * 0.5;

$color-white: #fff;
$color-gray-100: #efefef;
$color-gray-200: #dee2e6;
$color-primary: #673ab7;

$nav-bg: $color-primary;
$nav-height: 60px;

$font-size-small: 12px;

$border-radius: 3px;
